<div id="calculator">
	Hello Calc world!
	<md-card style="width: 320px;">
	<div id="display" style="height: 100px; text-align: right;">
		<div id="total" class="md-display-1">{{result.memory}}</div>
		<div id="input" class="md-headline">{{operation.pending}} {{result.current}}</div>
	</div>
	<div id="interface" layout-xs="column" style="width: 420px;">
	<div id="keypad" flex>
		<label ng-repeat="number in keyboard.numbers" for="{{keyboard.numbers}}">
<!-- 			<md-card-actions>
 -->			<md-button class="md-primary md-raised" id="{{number}}" ng-value="number" ng-click="concat(number)">{{number}}</md-button>
<!-- 		  </md-card-actions> -->
		</label>
	</div>
	<div id="operations" flex>
		<label ng-repeat="operation in keyboard.operations track by $index" for="{{keyboard.operations}}">
			<md-button class="md-raised md-accent" id="{{operation}}" ng-value="operation" ng-click="do(operation)">{{operation}}</md-button>
		</label>
	</div>
</div>
</md-card>
	<pre>{{result}}</pre>
	<pre>{{operation}}</pre>
	<pre>{{result.memory}} {{operation.pending}} {{result.current}} = {{result.memory}}</pre>
</div>
