<div id="calculator">
	Hello Calc world!
	<div id="display">
		<div id="total">{{result.memory}}</div>
		<div id="input">{{operation.pending}} {{result.current}}</div>
	</div>
	<div id="keypad">
		<label ng-repeat="number in keyboard.numbers" for="{{keyboard.numbers}}">
			<md-button class="md-raised md-primary" id="{{number}}" ng-value="number" ng-click="concat(number)">{{number}}</md-button>
		</label>
<!-- 		<input type="button" id="{{keyboard.decimal}}" ng-value="keyboard.decimal" ng-if> -->
	</div>
	<div id="operations">
		<label ng-repeat="operation in keyboard.operations track by $index" for="{{keyboard.operations}}">
			<input type="button" id="{{operation}}" ng-value="operation" ng-click="do(operation)">
		</label>
	</div>
	<pre>{{result}}</pre>
	<pre>{{operation}}</pre>
	<pre>{{result.memory}} {{operation.pending}} {{result.current}} = {{result.memory}}</pre>
</div>